<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
	   <command id="org.osate.ocarina.commands.launchcheddar" name="Launch Cheddar" defaultHandler="org.osate.ocarina.handlers.LaunchCheddarHandler"></command>
	   <command id="org.osate.ocarina.commands.runbasictests" name="Run Basic Scheduling Feasibility Tests using Cheddar" defaultHandler="org.osate.ocarina.handlers.RunBasicFeasibilityTestsHandler"></command>
	   <command id="org.osate.ocarina.commands.runschedulingtests" name="Run Scheduling Tests using Cheddar" defaultHandler="org.osate.ocarina.handlers.RunSchedulingTestsHandler"></command>
	   <command id="org.osate.ocarina.commands.computepriority" name="Compute Scheduling Priorities using Cheddar" defaultHandler="org.osate.ocarina.handlers.ComputePrioritiesHandler"></command>
	   <command id="org.osate.ocarina.commands.runmastanalysis" name="Run MAST Analysis" defaultHandler="org.osate.ocarina.handlers.RunMASTAnalysisHandler"></command>
	   <command id="org.osate.ocarina.commands.checkreal" name="Check REAL Theorems" defaultHandler="org.osate.ocarina.handlers.CheckREALTheoremsHandler"></command>
	   <command id="org.osate.ocarina.commands.launchocarina" name="Launch Ocarina" defaultHandler="org.osate.ocarina.handlers.LaunchOcarinaHandler">
	   <commandParameter id="org.osate.ocarina.commands.launchocarina.generator" name="Generator"/>
	   </command>
	   <command  defaultHandler="org.osate.ocarina.handlers.EnableBuild" id="org.osate.ocarina.commands.enablebuild" 
      		name="Build after Generating code"> 
   			<state class="org.eclipse.ui.handlers.RegistryToggleState:false" id="org.eclipse.ui.commands.toggleState"> 
   			</state> 
		</command>
   </extension>
	
   <extension point="org.eclipse.ui.menus">
	<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">		
		<menu id="org.osate.ocarina.menu" label="Ocarina">
			<command commandId="org.osate.ocarina.commands.checkreal" style="push"/>
			<separator name="sep1" visible="true"/>
			<command commandId="org.osate.ocarina.commands.launchcheddar" style="push"/>
			<command commandId="org.osate.ocarina.commands.runbasictests" style="push"/>
			<command commandId="org.osate.ocarina.commands.runschedulingtests" style="push"/>
			<command commandId="org.osate.ocarina.commands.computepriority" style="push"/>
			<separator name="sep2" visible="true"/>
			<command commandId="org.osate.ocarina.commands.runmastanalysis" style="push"/>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate MAST Model">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="mast"/>
			</command>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate CARTS File">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="carts"/>
			</command>
			<separator name="sep3" visible="true"/>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate Petri Nets">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="petri_nets"/>
			</command>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate Statistics">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="stats"/>
			</command>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate Connection Matrix">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="connection_matrix"/>
			</command>
			<separator name="sep4" visible="true"/>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate PolyORB-HI-C Code">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="polyorb_hi_c"/>
			</command>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate PolyORB-HI-Ada Code">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="polyorb_hi_ada"/>
			</command>
			<command commandId="org.osate.ocarina.commands.enablebuild" style="toggle" />
		</menu>
	</menuContribution>
	<menuContribution allPopups="false" locationURI="popup:#TextEditorContext?after=additions">
		<menu id="org.osate.ocarina.menu" label="Ocarina"/>
	</menuContribution>
	<menuContribution allPopups="false" locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
		<menu id="org.osate.ocarina.menu" label="Ocarina">
						<command commandId="org.osate.ocarina.commands.checkreal" style="push"/>
			<separator name="sep1" visible="true"/>
			<command commandId="org.osate.ocarina.commands.launchcheddar" style="push"/>
			<command commandId="org.osate.ocarina.commands.runbasictests" style="push"/>
			<command commandId="org.osate.ocarina.commands.runschedulingtests" style="push"/>
			<command commandId="org.osate.ocarina.commands.computepriority" style="push"/>
			<separator name="sep2" visible="true"/>
			<command commandId="org.osate.ocarina.commands.runmastanalysis" style="push"/>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate MAST Model">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="mast"/>
			</command>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate CARTS File">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="carts"/>
			</command>
			<separator name="sep3" visible="true"/>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate Petri Nets">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="petri_nets"/>
			</command>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate Statistics">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="stats"/>
			</command>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate Connection Matrix">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="connection_matrix"/>
			</command>
			<separator name="sep4" visible="true"/>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate PolyORB-HI-C Code">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="polyorb_hi_c"/>
			</command>
			<command commandId="org.osate.ocarina.commands.launchocarina" style="push" label="Generate PolyORB-HI-Ada Code">
				<parameter name="org.osate.ocarina.commands.launchocarina.generator" value="polyorb_hi_ada"/>
			</command>
			<command commandId="org.osate.ocarina.commands.enablebuild" style="toggle" />
		</menu>
	</menuContribution>
   </extension>

   <extension
         id="org.osate.ocarina.OcarinaPath"
         name="Ocarina Path"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
    <extension
         id="org.osate.ocarina.PokPath"
         name="POK Path"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.UseAADLv2"
         name="Use AADL version 2"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.Generator"
         name="Kind of generator used"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.PropertySets"
         name="Property sets used by Ocarina"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.GCC"
         name="GCC Path"
         point="org.eclipse.core.runtime.preferences">
          <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.MAST"
         name="MAST Path"
         point="org.eclipse.core.runtime.preferences">
          <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.CHEDDAR"
         name="Cheddar Path"
         point="org.eclipse.core.runtime.preferences">
          <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.osate.internal.ui.preferences.OsatePreferencePage"
            class="org.osate.ocarina.PreferencePage"
            id="org.osate.fr.ocarina.generator.PreferencePage"
            name="Ocarina">
      </page>
   </extension>
   <extension
         id="org.osate.ocarina.ValidationMarker"
         name="Ocarina Validation Marker"
         point="org.eclipse.core.resources.markers">
             <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>
   

    <extension
          point="org.eclipse.ui.views">
       <view
             category="aadl.view_category"
             class="org.osate.ocarina.views.REALResultsView"
             icon="icons/sample.gif"
             id="org.osate.ocarina.views.REALResultsView"
             name="REAL Results">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="edu.cmu.sei.osate.ui.perspective.AadlPerspective">
          <view
                id="org.osate.ocarina.views.REALResultsView"
                ratio="0.5"
                relationship="right"
                relative="org.eclipse.ui.views.ConsoleView">
          </view>
       </perspectiveExtension>
    </extension>
</plugin>
