<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="org.osate.ui.popupMenu.Aadl.ocarinapopup"
               label="Ocarina">
            <command
                  commandId="org.osate.ocarina.commands.generate"
                  menubarPath="org.osate.ui.popupMenu.Aadl.ocarinapopup/group1" 
                  label="Generate Code pop up"
                  style="push">
            </command>
         </menu>
      </menuContribution>
		
      <menuContribution allPopups="false" locationURI="popup:#TextEditorContext?after=additions">
      	<menu
               id="org.osate.ui.popupMenu.Aadl.ocarinapopup"
               label="Ocarina">
			<command commandId="org.osate.ocarina.commands.launchcheddar" style="push">
				<visibleWhen checkEnabled="false">
	           		<reference definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened"/>
				</visibleWhen>
	    	</command>
			<command commandId="org.osate.ocarina.commands.runbasictests" style="push">
				<visibleWhen checkEnabled="false">
	           		<reference definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened"/>
				</visibleWhen>
	    	</command>
			<command commandId="org.osate.ocarina.commands.runschedulingtests" style="push">
				<visibleWhen checkEnabled="false">
	           		<reference definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened"/>
				</visibleWhen>
	    	</command>
			<command commandId="org.osate.ocarina.commands.computepriority" tyle="push">
				<visibleWhen checkEnabled="false">
	           		<reference definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened"/>
				</visibleWhen>
	    	</command>
			<command commandId="org.osate.ocarina.commands.checkreal" tyle="push">
				<visibleWhen checkEnabled="false">
	           		<reference definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened"/>
				</visibleWhen>
	    	</command>
	    </menu>
  	</menuContribution>
  	
	<menuContribution allPopups="false" locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions ">
		<menu
               id="org.osate.ui.popupMenu.Aadl.ocarinapopup"
               label="Ocarina">
			<command commandId="org.osate.ocarina.commands.launchcheddar" style="push"/>
			<command commandId="org.osate.ocarina.commands.runbasictests" style="push"/>
			<command commandId="org.osate.ocarina.commands.runschedulingtests" style="push"/>
			<command commandId="org.osate.ocarina.commands.computepriority" style="push"/>
			<command commandId="org.osate.ocarina.commands.checkreal" style="push"/>
		</menu>
	</menuContribution>
	  	
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.osate.ocarina.commands.generate"
            name="Generate Code commands">
      </command>
   </extension>
   <extension
         id="ocarina"
         name="ocarina"
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.ocarina.HandlerGenerate"
            commandId="org.osate.ocarina.commands.generate">
      </handler>
   </extension>


   <extension point="org.eclipse.ui.actionSets">
      <actionSet
            id="Ocarina.actionSet"
            label="Ocarina Menu"
            visible="true">
         <menu	id="menu.main"
               	label="Ocarina">
             <groupMarker name="generation.grp"/>
             <separator name="group1"/>
             <groupMarker name="cheddar.grp"/>
             <separator name="group2"/>
			 <groupMarker name="real.grp"/>
         </menu>
         <action
               class="org.osate.ocarina.ActionGenerate"
               icon="icons/sample.gif"
               id="org.osate.ocarina.ActionGenerate"
               label="&amp;Generate Code"
               menubarPath="menu.main/generation.grp"
               toolbarPath="org.osate.ui.actionSet/generatorGroup"
               tooltip="Generate code using Ocarina">
         </action>
         
		<action
              class="org.osate.ocarina.actions.RunBasicFeasibilityTestsAction"
              icon="icons/sample.gif"
              id="org.osate.ocarina.actions.RunBasicFeasibilityTestsAction"
              label="Run Basic Feasibility Tests"
              menubarPath="menu.main/cheddar.grp"
              toolbarPath="cheddarGroup"
              tooltip="Run basic feasibility tests with cheddar"
              definitionId="org.osate.ocarina.commands.runbasictests">
        </action>
        <action
              class="org.osate.ocarina.actions.RunSchedulingTestsAction"
              icon="icons/sample.gif"
              id="org.osate.ocarina.actions.RunSchedulingTestsAction"
              label="Run Scheduling Tests"
              menubarPath="menu.main/cheddar.grp"
              toolbarPath="cheddarGroup"
              tooltip="Run scheduling tests with cheddar"
              definitionId="org.osate.ocarina.commands.runschedulingtests">
        </action>
        <action
              class="org.osate.ocarina.actions.ComputePriorityAction"
              icon="icons/sample.gif"
              id="org.osate.ocarina.actions.ComputePriorityAction"
              label="Compute Priority"
              menubarPath="menu.main/cheddar.grp"
              toolbarPath="cheddarGroup"
              tooltip="Compute priority with cheddar"
              definitionId="org.osate.ocarina.commands.computepriority">
        </action>
        <action
              class="org.osate.ocarina.actions.LaunchCheddarAction"
              icon="icons/sample.gif"
              id="org.osate.ocarina.actions.LaunchCheddarAction"
              label="Launch Cheddar"
              menubarPath="menu.main/cheddar.grp"
              toolbarPath="cheddarGroup"
              tooltip="Instantiate the currently selected System Implementation and open in cheddar"
              definitionId="org.osate.ocarina.commands.launchcheddar">
        </action>
        <action
              class="org.osate.ocarina.actions.CheckREALTheoremsAction"
              icon="icons/sample.gif"
              id="org.osate.ocarina.actions.CheckREALTheoremsAction"
              label="Check REAL Theorems"
              menubarPath="menu.main/real.grp"
              toolbarPath="realGroup"
              tooltip="Instantiate the currently selected System Implementation and check the REAL theorems"
              definitionId="org.osate.ocarina.commands.checkreal">
        </action>

      </actionSet>
   </extension>
   <extension
         id="org.osate.ocarina.OcarinaPath"
         name="Ocarina Path"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
    <extension
         id="org.osate.ocarina.PokPath"
         name="POK Path"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.UseAADLv2"
         name="Use AADL version 2"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.Generator"
         name="Kind of generator used"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.PropertySets"
         name="Property sets used by Ocarina"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.GCC"
         name="GCC Path"
         point="org.eclipse.core.runtime.preferences">
          <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="org.osate.ocarina.CHEDDAR"
         name="Cheddar Path"
         point="org.eclipse.core.runtime.preferences">
          <initializer
            class="org.osate.ocarina.PreferenceInitializer">
      </initializer>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.osate.internal.ui.preferences.OsatePreferencePage"
            class="org.osate.ocarina.PreferencePage"
            id="org.osate.fr.ocarina.generator.PreferencePage"
            name="Ocarina">
      </page>
   </extension>
   <extension
         id="org.osate.ocarina.ValidationMarker"
         name="Ocarina Validation Marker"
         point="org.eclipse.core.resources.markers">
             <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>
   

</plugin>
