<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.uah.edu/rsesc/aadl/ocarina/real/xtext/REAL" 
       class = "org.osate.ocarina.real.xtext.real.RealPackage"
       genModel = "edu/uah/rsesc/aadl/ocarina/real/xtext/REAL.genmodel" /> 
	
  </extension>
  <extension
        point="org.osate.annexsupport.parser">
     <parser
           annexName="real_specification"
           class="org.osate.ocarina.real.xtext.annex.REALAnnexParser"
           id="org.osate.ocarina.real.xtext.annex.parser">
     </parser>
  </extension>




</plugin>
